<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="QuestionCategoryId" #QuestionCategoryId="ngModel" [(ngModel)]="service.formData.QuestionCategoryId">
    <div class="form-group">
      <label>Category</label>
      <input name="Category" #Category="ngModel" [(ngModel)]="service.formData.Category" type="text"
        class="form-control" required>
      <div class="validation-error" *ngIf="Category.invalid && Category.touched">Category is required</div>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">Submit</button>
    </div>
  </form>
